<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.CosProvincesDao">
	<select id="getAllProvince" resultType="com.model.CosProvinces">
		select * from cos_provinces
	</select>
	
	<select id="getCode" resultType="String" parameterType="String">
		select Province_Code from cos_provinces where Province_name = #{province_name}
	</select>
	
</mapper>