<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.NotesDao">
	<select id="ListNotes" resultType="com.model.Notes">
		select * from notes ORDER BY
		Note_Hot desc limit 8;
	</select>

	<insert id="saveNotes" parameterType="com.model.Notes">
		insert into notes
		(Note_Pic,Note_Des,User_Id,Note_Hot,Note_Name)
		values
		(#{note_pic},#{note_des},#{user_id},#{note_hot},#{note_name});
	</insert>

	<delete id="deleteByNoteId" parameterType="int">
		delete from notes where Note_Id=#{note_id};
	</delete>

	<select id="SearchNotes" parameterType="String" resultType="com.model.Notes">
		select * from notes where Note_Name LIKE CONCAT('%',#{content},'%') 
		or
		Note_Des LIKE CONCAT('%',#{content},'%')
	</select>

	<!-- <select id="SearchNotesByclass" parameterType="String" -->
	<!-- resultType="com.model.Notes"> -->
	<!-- select * from notes where Note_Id like '%#{note_id}%' -->
	<!-- </select> -->

	<select id="listallnotes" resultType="com.model.Notes">
		select * from notes
	</select>


	<select id="listnotesbyuserid"  parameterType="int"  resultType="com.model.Notes">
		select * from notes where User_Id = #{user_id}
	</select>
	
	
	<select id="SearchUserIdByNoteID"  parameterType="int"  resultType="int">
		select User_Id from notes where Note_Id = #{note_id}
	</select>
	
	<select id="SearchNotesById"  parameterType="int"  resultType="com.model.Notes">
		select * from notes where Note_Id = #{note_id}
	</select>
	
	
	<update id="updateNotes"  parameterType="com.model.Notes">
		update notes set Note_Hot =
		#{note_hot} where
		Note_Id = #{note_id}
	</update>
	
	

</mapper>
